/* This is the local css file of the CMS */

body {
    overflow-x: hidden !important;
    background-position: center;
    background-repeat: repeat;
}

.__login_container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.__login_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 252, 252, 0.726);
}

.__logo_container {
    margin: 1rem 0;
}

.__logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.__login_card form {
    text-align: left;
    font-weight: 700;
}

.__login_card form button:first-of-type {
    margin-right: 1rem;
}

.__icon {
    display: inline-block;
    margin-left: 10px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.__icon img {
    height: 100%;
    width: auto;
}

.__delete_icon {
    background-color: rgb(245, 97, 97);
}

.__edit_icon {
    background-color: aqua;
}

.__settings_icon {
    background-color: rgb(170, 170, 170);
}

#NewCategoryForm {
    padding: 10px !important;
}

/* Admin Panel - Universal */
.__admin_content {
    background-color: white;
}

.__admin_header_container {
    text-align: center;
    margin-bottom: 2rem;
}

.__admin_header {
    margin-bottom: 4rem;
}

.__admin_table_container {
    width: 90%;
}

.__admin_table {
    border-color: transparent;
}

.__admin_table th {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}



/* Admin Panel - New Category */

#AttributeList {
    max-height: 300px;
    overflow-y: auto;
}

#AddAttributeButton{
    background-color: rgb(105, 105, 105);
    color: white;
    width: auto;
    height: auto;
    margin-right: 30px;
}

#AddAttributeButton:hover {
    background-color: rgb(77, 77, 77);
    color: white;
}

.__category_submit_button {
    background-color: seagreen;
    color: white;
    width: auto;
    height: auto;
}

.__category_submit_button:hover {
    background-color: rgb(26, 95, 56);
    color: white;
}

/* Admin Panel - Api Keys */

#APIKeyList {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 1rem;
}